.tabsContainer {
    list-style: none;
    display: flex;
    height: 60px;
    padding: 0;
    margin: 0;
}

.item {
    background-color: #222630;
    border-right: 3px solid #13948d;
    color: #fbfbfc;
    border-left: none;
    border-top: none;
    padding: 10px;
    width: 100%;
    display: flex;
    overflow: hidden;
}

.item:last-child {
    border-right: none;
}

.item:hover {
    background-color: #13948d;
    cursor: pointer;
}

.active {
    background-color: #456a6e;
}


